body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    font-style: normal;

}

h2 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 5%;
}

p {
    padding-top: 5%;
    font-size: 1rem;
    color: #8f8f8f;
}

#title {
    background-color: #f55e74;
    color: white;
}

.container-fluid {
    padding: 3% 15%;
}

/* Navigation Bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-nav {
    font-size: 2rem;
    font-weight: 400;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.title-img {
    width: 60%;
    transform: rotate(25deg);
}

/* Features */

#features {
    text-align: center;
    margin: 5% 3% 5% 0;
}

.feature-icon {
    color: #ef8172;
    font-size: 4rem;
}

.feature-icon:hover {
    color: #f35b72;
}

/* Testimonial Section */

#testimonials {

    text-align: center;
    background-color: #f35b72;
    color: white;
}

.testimonial-img {
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

#press {
    background-color: #f35b72;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 10%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}